
    <input type="hidden" name="_method" value="PUT">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= artist.name %>">
    </div>
    <div class="mb-3">
        <label for="birth_year" class="form-label">Birth Year</label>
        <input type="number" class="form-control" id="birth_year" name="birth_year" value="<%= artist.birth_year %>">
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" name="country" value="<%= artist.country %>">
    </div>

