<%- include('header.ejs'); %>
<form method="POST">
    <div class="container">
        <h1>Update Artist</h1>
        <%- include('artist-form.ejs'); %>
            <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
<%- include('footer.ejs'); %>